
  <%= render 'artist' %>


  <% if user_signed_in? %>
  <div class="reviews-container">
      <% @reviews.each do |review| %>
        <%= render partial:'/reviews/review', locals:{review:review} %>
      <% end %>
    <% end %>

  </div>
</div>
