

<div class='ajax_concerts'>
	<% if @concerts != nil %>
		
		<% @concerts.each do |concert| %>
		<div class='jambase_concert'>	
			<p><%= concert.artist %></p>
			<p><%= concert.venue %></p>
			<p><%= concert.date %></p>
			<p><a href='<%= concert.url %>'>Ticket Info</a></p>
		</div>
		<% end %>
	<% else %>
		<p>Search a zipcode to get concerts in your area!</p>
	<% end %>
	
</div>
<div class='end_concerts'>
</div>
