<% current_user.artists_following.each do |follow| %>
	<div class='artist_follows_section'>
		<img src='<%= follow.search_image_url %>' class='img-circle img-responsive img-thumbnail artist_image'>
		<a href='/artists/<%= follow.id %>'><%= follow.name %></a><br>
	</div>
<% end %>