</div>


<style>
body {
    padding-top:55px;
}

.container {
    margin-right: 10%;
}
</style>
<script>
$(document).ready(function(){
    $(function() {
    var BV = new $.BigVideo();
    BV.init();
    BV.show('http://www.uploadhosting.co/uploads/208.184.96.233/720p.mov', {ambient:true});
});
});
</script>
<div class='new_background_image'>
<div class='badge_image'>
    <img src='http://imgur.com/LsY0b5O.png' class='discomuse_image'>
</div>
<div class= 'float_right splashText'>
     Welcome to DiscoMuse!<br/><br/>
     A music discovery platform that allows you to review artists' live performances. <br/><br/>
     Simply sign up, search for an artist, and share your experience with us. <br/><br/>
     Help others know before they go!

</div>

<div class='row'>

<div class= 'col-md-7'>
<div class="carousel-ok">
  <div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
      <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li class="slide-one active"></li>
            <li class="slide-two"></li>
            <li class="slide-three"></li>
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="active item">
            <img src='http://i.imgur.com/9Qu7YyD.png' >
            <div class="carousel-caption">
                <h1>Welcome to DiscoMuse</h1>
                <h3>Discover. Explore. Inspire.</h3>
            </div>
            </div>
            <div class="item"><img src='http://i.imgur.com/9Qu7YyD.png' >
                <div class="carousel-caption">
                    <h1>DiscoMuse</h1>
                    <h3>Music is our Muse</h3>
                </div>
            </div>
            <div class="item"><img src='http://i.imgur.com/9Qu7YyD.png' >
                <div class="carousel-caption">
                    <h1>DiscoMuse</h1>
                    <h3>Let us help you Discover your inner Muse</h3>
                </div>
            </div>
        </div>
        </div>
        <!-- Carousel nav -->


 </div>

</div>



</div>
</div>
</div>
</div>
<div class='container'>
