<div class="carousel-ok">
  <div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
      <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li class="slide-one active"></li>
            <li class="slide-two"></li>
            <li class="slide-three"></li>
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="active item">
                <img src="http://i.imgur.com/sazuemh.jpg">
            <div class="carousel-caption">
                <h3>Welcome to DiscoMuse</h3>
                <p>Discover, Explore, Inspire</p>
            </div>
            </div>
            <div class="item">
              <img src="http://i.imgur.com/cErzKtn.jpg">
                <div class="carousel-caption">
                    <h3>DiscoMuse</h3>
                    <p>Music is our Muse</p>
                </div>
            </div>
            <div class="item">
              <img src="http://i.imgur.com/CK6l4qS.jpg">
                <div class="carousel-caption">
                    <h3>DiscoMuse</h3>
                    <p>Let us help you Discover your inner Muse</p>
                </div>
            </div>
        </div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
    </a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">
    </a>

    </div>
  </div>
</div>