
$white: #ecf0f1;
$grey: #95a5a6;
$deep: #2c3e50;
$red: #c0392b;
$lred: #e74c3c;
$ldeep: #34495e;

.nav-tabs > li.active > a {
  color: #ecf0f1;
  background-color: #2c3e50;
}

.nav-tabs > li > a {
  color:#ecf0f1;
  background-color:#95a5a6;
}

.nav-tabs > li > a:hover {
  color:#95a5a6 ;
  background-color:$ldeep;
}

.btn{
  color:#ecf0f1;
  background-color:#95a5a6;
}

.btn:hover{
  color:#95a5a6 ;
  background-color:#ldeep;
}

.navbar-inverse{
  background-color:#95a5a6;
  border-color:#95a5a6;
}

body{
  background-color:#ecf0f1;
}

.navbar{
  background-color: $deep;
}

.nav > li > a{
  color: $white;
}

.nav > li > a:hover{
  color: $grey;
}

.btn-sm{
  background-color: $red;
}

btn-sm:hover{
  background-color:$lred;
}

button.btn.btn-default{
  background-color:$red;
}

button.btn.btn-default:hover{
  background-color: $lred;
  color:$white;
}

.navbar-default .navbar-brand {
  color:$white;
}

.navbar-default .navbar-brand:hover{
  color: $grey;
}

