.new_background_image { 
  background: url(new_bg.jpg) no-repeat bottom center scroll;
  background-size: cover;
  height: 100vh;
}

.navbar {
	margin-bottom:0px;
}

.space {
  height: 50px;
}

.review_line {
	height:1px;
	background-color: #ecf0f1;
	width: 100%;
}

.red {
	background-color: #c0392b;
}

.panel-default > .panel-heading {
  color: #ecf0f1;
  background-color: #2c3e50;
}

.user_profile {
	padding:10px;		
}

.user_profile h4 {
	margin-left: 2%;
}

.user_image {
	margin-bottom:20px;
	margin-left: 8%;
}

.user_name {
	width:100%;
	padding: 0px;
	border-bottom: 1px solid #2c3e50; 
	border-top: 1px solid #2c3e50;
	margin-bottom:10px;
}

#following_tab {
	margin-left: 2%;
}

#about_tab {
	margin-left:2%;
}

#edit_tab {
	margin-left: 2%;
}

#edit_form {
	margin-top:10px;
}

#edit_form button {
	margin-top:10px;
}

.tab-content {
	padding:10px;
	background-color: #fff;
	border-radius: 2px;
}

.artist_image {
	width:40%
}

.artist_follows_section {
	border-bottom: 1px solid #2c3e50;
	padding-bottom:5px;
	margin-bottom:5px;
}

.reviews_river_title {
	padding-left:6%;
	border-bottom: 1px solid #2c3e50;
	margin-bottom: 10px;
}

.reviews_river_title h1 {
	margin-bottom: 5px;
}

.review_spacing {
	margin-bottom:10px;
	margin-top:5px;
}

.reviews_content {
	margin-bottom:50px;
	color: #2c3e50;
}

.jambase_concert {
	border-bottom: 1px solid #2c3e50;
}

.ajax_concerts{
	margin-top:20px;
}

.default_image {
	width: 85%;
}

.logout_margin{
	height: 5px;
}

.review_image_userpage {
	width:18%;
	float:left;
	margin-right:10%;
	padding: 4px;
	border: 1px solid #ddd;
}

.background-image{
	background-image: url('new_bg.jpg');
	padding-right:20%;
}

.new_background_image {
	padding-right:30%;
}

.discomuse_image {
	width:28%;
	margin-left:15%;
}

.slide_bg_image {
	width:200px;
	height:75px;
	opacity: 0.6;
}

.float_right {
	float:right;
	margin-top:40px;
	width:25%;
}
