.recent_review {
	background-color: #2c3e50;
	padding:10px;
	border-radius:3px;
	margin-bottom:20px;
}


.recent_review p {
	margin-bottom:5px;
	margin-top:5px;
	color:#ecf0f1;
}

.recent_review a {
	color:#ecf0f1;
	text-decoration: none;
}

.review_content {
	background-color: #fff;
	color: #2c3e50;
	padding:10px;
	margin-top:5px;
}

.space {
  height: 50px;
}

.review_line {
	height:1px;
	background-color: #ecf0f1;
	width: 100%;
}

.red {
	background-color: #c0392b;
}

.panel-default > .panel-heading {
  color: #ecf0f1;
  background-color: #2c3e50;
}