// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$white: #ecf0f1;
$grey: #95a5a6;
$deep: #2c3e50;
$red: #c0392b;

.splashText{
  font-size: 18px;
  opacity: 0.8;
  background-color:#fff;

  color: $deep;
  padding:10px;
  text-align:center;
  font-family: 'Arial';

}


.pac-container{
  z-index:1051 !important;
}


.badge_image{
  font-size: 18px;
  opacity: 0.8;
  color: $deep;
  padding:10px;
  text-align:center;
  font-family: 'Arial';
  padding-right:0%;
  width:30%;
  margin-right:0px;
  margin-left:14%;
}